.container {
    height: 800px;
    width: 800px;
    
    display: grid;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}

.row {
    display: flex;
    /* gap: 3em; */
    /* padding: 3em; */
    
}

.cell {
    /* width: 100px;
    height: 100px; */
    /* border: 1px solid black; */

}

.cell:hover {
    background-color: red;
}

.clicked {
    background-color: red;
}
.hoverd {
    background-color: red;
}